            body {
                font-family: 'Figtree', sans-serif;
                background-color: #f4f7f6;
            }

            .min-h-screen {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100vh;
            }

            .form-container {
                width: 100%;
                max-width: 400px;
                padding: 2rem;
                background-color: white;
                border-radius: 8px;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            }

            .btn-custom {
                background-color: #1E9265;
                color: white;
                border-radius: 25px;
                font-size: 16px;
                transition: background-color 0.3s ease;
                width: 100%;
            }

            .btn-custom:hover {
                background-color: #155e3b;
                  color: white; 
            }

            .form-control {
                border-radius: 25px;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            }

            .form-label {
                color: #1E9265;
            }

            .alert {
                border-radius: 25px;
                background-color: #D4EDDA;
                color: #155724;
            }